# Ядро мікросервісу
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
regex

# База даних (Entity Framework style)
sqlalchemy
asyncpg            # Асинхронний драйвер для Postgres
pgvector           # Підтримка векторів у SQLAlchemy

# ШІ та RAG
langchain
langchain-openai   # Використовуємо для OpenRouter
langchain-community
openai

pymupdf
# liteparse
langchain-opendataloader-pdf
